.card {
    width: 100px;
    background-color: white;
    height: 100%;
    display: inline-block;

    cursor: pointer;

    /* border-right-color: blue;
    border-right-width: 1px;
    border-right-style: solid;

    border-left-color: blue;
    border-left-width: 1px;
    border-left-style: solid; */
}

.card:hover {
    background-color: rgb(228, 228, 228);
}

.card.selected {
    background-color: rgb(204, 204, 204);
}

.card h1 {
    font-family: sans-serif;
    text-align: center;
    margin-top: 39px;
    font-size: 23px;
}

.card h2 {
    font-family: sans-serif;
    text-align: center;
    font-size: 11px;
}
